name: Build Static HAProxy for Debian  # 工作流名称

on:  # 触发条件
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  release:
    types: [ created ]

jobs:  # jobs 顶级键，包含所有 job
  build-musl:
    runs-on: ubuntu-latest
    container: alpine:latest
    steps:
    - name: Checkout repository  # 检出仓库代码
      uses: actions/checkout@v4

    - name: Install build dependencies  # 安装构建依赖
      run: |
        apk add --no-cache ca-certificates jemalloc build-base gcc g++ libc-dev linux-headers make tar curl shadow cmake git wget perl autoconf automake m4 libtool
    
    - name: Build LUA (static)  # 构建 LUA 
      run: |
        LUA_VERSION=5.4.8
        wget https://www.lua.org/ftp/lua-${LUA_VERSION}.tar.gz
        tar xzf lua-${LUA_VERSION}.tar.gz
        cd lua-${LUA_VERSION}
        make -j$(nproc) all
        make install
        cd ..
  
    - name: Build jemalloc  # 构建 jemalloc 不支持静态 
      run: |
        git clone -j "$(nproc)" --no-tags --shallow-submodules --recurse-submodules --depth 1 --single-branch 'https://github.com/jemalloc/jemalloc.git'
        cd jemalloc
        ./autogen.sh --prefix=/usr --enable-shared --disable-static
        make -j$(nproc)
        make install
        cd ..

    - name: Build AWS-LC (static)  # 静态构建 AWS-LC
      run: |
        AWSLC_URL=https://github.com/aws/aws-lc.git
        AWSLC_TAG=v1.66.0
        git clone --depth 1 --branch "${AWSLC_TAG}" "${AWSLC_URL}"
        cd aws-lc
        mkdir build
        cd build
        cmake -DCMAKE_BUILD_TYPE=Release -DDISABLE_GO=1 -DDISABLE_PERL=1 -DBUILD_TESTING=0 -DBUILD_SHARED_LIBS=OFF -DBUILD_STATIC_LIBS=ON -DCMAKE_INSTALL_PREFIX=/opt/awslc/ ..
        make -j$(nproc)
        make install
        cd ..

    - name: Build PCRE2 (static)  # 静态构建 PCRE2
      run: |
        PCRE2_VERSION=10.47
        wget https://github.com/PCRE2Project/pcre2/releases/download/pcre2-${PCRE2_VERSION}/pcre2-${PCRE2_VERSION}.tar.gz
        tar xzf pcre2-${PCRE2_VERSION}.tar.gz
        cd pcre2-${PCRE2_VERSION}
        ./configure --prefix=/opt/pcre2-static --disable-shared --enable-static --enable-jit --enable-unicode
        make -j$(nproc --ignore=2)
        make install
        cd ..

    - name: Build HAProxy (static)  # 静态构建 HAProxy
      run: |
        HAPROXY_VERSION=3.3.0
        wget https://www.haproxy.org/download/3.3/src/haproxy-${HAPROXY_VERSION}.tar.gz
        tar xzf haproxy-${HAPROXY_VERSION}.tar.gz
        cd haproxy-${HAPROXY_VERSION}
        export CC="gcc"
        make TARGET=linux-musl \
             CFLAGS="-O3 -no-pie -static" \
             CXXFLAGS="-O3 -no-pie -static" \
             LDFLAGS="-static -L/opt/awslc/lib -Wl,-rpath,/opt/awslc/lib -L/opt/pcre2-static/lib -s" \
             ADDLIB=-ljemalloc \
             USE_QUIC=1 USE_OPENSSL_AWSLC=1 SSL_INC=/opt/awslc/include SSL_LIB=/opt/awslc/lib64/ \
             USE_LUA=1 LUA_INC=/usr/local/include LUA_LIB=/usr/local/lib LUA_LIB_NAME=lua \
             USE_TFO=1 USE_LINUX_TPROXY=1 USE_GETADDRINFO=1 USE_PROMEX=1 USE_SLZ=1 \
             USE_PCRE2=1 USE_PCRE2_JIT=1 USE_STATIC_PCRE2=1 PCRE2_INC=/opt/pcre2-static/include PCRE2_LIB=/opt/pcre2-static/lib \
             USE_PTHREAD_EMULATION=1 USE_LINUX_SPLICE=1 USE_LIBCRYPT= USE_CRYPT_H= \
             -j$(nproc --ignore=2) all
        cd ..

    - name: Prepare and upload binary artifact  # 上传二进制 artifact
      uses: actions/upload-artifact@v4
      with:
        name: haproxy-static-musl
        path: haproxy-3.3.0/haproxy
        retention-days: 30
